html,
body
{
    margin: 0;
}
#root{
    width: 100vw;
    height: 100vh;

}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    color: antiquewhite;
}
h2{
font-size: 2rem;
}
p{
    font-size: 1.2rem;
}
.NavComponent{
    transform: translate3d(33vw,-20px,10px)!important;
    
}
#Header{
    
}

#Header nav{
    
    
}
#Header ul{
    
    display: flex;
    
    
    color: antiquewhite;
    list-style: none;
    

}
#Header ul>li{
    background-color: rgb(53, 53, 53);
    width:100px;
    padding: 1.5rem 0;
    text-align: center;
}
.portfolio-content-container{
    transform: translate3d(-100px,-200px,100px)!important;
    width:500px;
}
#portfolioContainer{
}