html,
body
{
    margin: 0;
}
#root{
    width: 100vw;
    height: 100vh;

}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    color: antiquewhite;
}
h2{
font-size: 2rem;
}
p{
    font-size: 1.2rem;
}

#Header{
    background-color: rgb(53, 53, 53);
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    z-index: 1000000000;
  }


#Header nav{
   
    
}
#Header ul{
    
    display: flex;
    
    
    color: antiquewhite;
    list-style: none;
    

}
#Header ul>li{
    background-color: rgb(53, 53, 53);
    width:100px;
    padding: 1.5rem 0;
    text-align: center;
}
.portfolio-content-container{
    transform: translate3d(-100px,-100px,100px)!important;
    width:500px;
}
.showcaseButtons{
    width:56vw;
    transform:translate3D(30vw,70vh,0)!important;
    z-index: 10000000;
}
.showcaseButtons>div{
    display: flex;
    font-size:xx-large;
}
.showcaseButtons div{
    width: 28vw;
    margin: 0 2rem;
    background-color: rgb(136, 120, 120);
    justify-content: space-around;
    
}
.showcaseButtons div:hover{
    
    background-color: rgb(204, 75, 75);
    
    
}
