html,
body
{
    margin: 0;
    overflow: hidden!important;
}
#root{
    width: 100vw;
    height: 100vh;

}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    color: antiquewhite;
}
h2{
font-size: 2rem;
}
p{
    font-size: 1.2rem;
}


#Header{
    display: flex;
   
    position: fixed;
    width: 100vw;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    z-index: 1000000000;
  }


#Header nav{
   margin:0 auto
    
}
#Header ul{
    margin:0;
    height: 5rem;
    display: flex;
    color: antiquewhite;
    list-style: none;
    
    
}
#Header li{
    background-color: rgb(53, 53, 53);

}
#Header ul>li{
    width:10rem;
    
    padding:2rem;
    text-align: center;
}
#Header ul>li:hover{
    background-color: antiquewhite;
    margin:0;
    color: brown;
}
.portfolio-content-container{
    transform: translate3d(-100px,-100px,100px)!important;
    width:500px;
}
.showcaseButtons{
    width:56vw;
    transform:translate3D(30vw,70vh,0)!important;
    z-index: 10000000;
}
.showcaseButtons>div{
    display: flex;
    font-size:xx-large;
}
.showcaseButtons div div{
    text-align: center;
    width: 28vw;
    margin: 0 2rem;
    background-color: rgb(136, 120, 120);
    justify-content: space-around;
    transition: transform 350ms;
    
}
.showcaseButtons div div:hover{
    cursor: pointer;
    background-color: rgb(204, 75, 75);
    transform: scale(1.1);
    
    
}
